@font-face {
  src: url(fonts/dogicapixel.ttf);
  font-family: dogica;
}

body {
  margin: 0;
}

.paragraph {
  font-size: 50px;
  color: rgb(40, 161, 209);
  margin-top: 1000px;
  margin-right: 1000px;
  font-family: dogica;
  text-align: justify;
  display: block;
}

#asd {
  color: teal;
}

.scroll {
  display: block;
  color: tomato;
  font-family: dogica;
  margin-right: 1000px;
  margin-bottom: 500px;
}

.scroll span,
.kare span {
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.scroll span,
.kare span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.scroll span,
.kare span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.who {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;

  height: 100vw;
}
.me {
  background-color: rgb(228, 24, 24);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;

  height: 100vw;
}
progress {
  position: fixed;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;

  background-color: rgb(128, 118, 118);
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(
    to left,
    #05fc43,
    #b2e301,
    #d6d314,
    #fdc741,
    #ff6b01,
    #ec1e0f
  );
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(
    to left,
    #34f803,
    #01b3e3,
    #25ce7b,
    #fdc741,
    #ff6b01,
    #fc4236
  );
  background-attachment: fixed;
}
section {
  background-color: rgb(128, 118, 118);
  padding: 0.1vw 0.1vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: #ddd;
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #00000070;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #3498db, #34495e);
  border-radius: 10px;
}

.kare {
  height: 600px;
  width: 500px;
  background-color: rgb(190, 54, 54);
  opacity: 0;
  margin-bottom: 1200px;
  border-radius: 25px;
}

p {
  font-family: dogica;
  line-height: 2;
  color: rgb(40, 161, 209);
  text-shadow: 0px 5px rgba(26, 9, 43, 0.384);
}

.dragon {
  margin-left: 1000px;
  position: absolute;
}
.dragon2 {
  position: absolute;
  margin-top: 300px;
  margin-right: 2050px;
}
